log/*
!log/.htaccess
!log/web.config
nbproject/
nbproject/*
temp/*
!temp/cache
!temp/sessions
!temp/.htaccess
!temp/web.config
temp/cache/*
temp/sessions/*
app/config/testServerAuth.txt
composer.json
php.tags
readme.txt