<tr n:attr="id => 'fleet-movement-'.(($child) ? $movement['id_parent'].'-' : '').$id, class => 'fleet-movement '.(($child) ? 'child hidden' : '')">
	<td>
		<table n:attr="class => 'fleet-movement-table '.(($odd) ? 'odd' : '')">
			<tr>
				<td class="fm-time-left">
					<span class="time-ticking" time="{$movement['arrival']}">{$movement["arrival"]-time()|formatSeconds}</span>
				</td>
				<td class="fm-arrival">
					{$movement["arrival"]|date:"j.n.Y H:i:s"}
				</td>
				<td class="fm-origin">
					<img n:attr="alt => '', src => $baseUrl.'/css/glotr-default/images/icons/'.(($movement['origin_moon'] == 1) ? 'moon' : 'planet').'.png'"/>
					{if $movement["origin"]}
						<a href="{plink Information:systems $movement['origin']['galaxy'], $movement['origin']['system']}">{$movement["origin"]["galaxy"]}:{$movement["origin"]["system"]}:{$movement["origin"]["position"]}</a>
					{else}
						{"Unknown"}
					{/if}
					<div class="clear"></div>
				</td>
				<td class="fm-direction">
					<img n:attr="alt => '', src => $baseUrl.'/css/glotr-default/images/icons/fleet-'.(($movement['returning'] == 1) ? 'returing' : 'arriving').'.png'"/>
				</td>
				<td class="fm-destination">
					<img n:attr="alt => '', src => $baseUrl.'/css/glotr-default/images/icons/'.(($movement['destination_moon'] == 1) ? 'moon' : 'planet').'.png'"/>
					{if $movement["dest"]}
						<a href="{plink Information:systems $movement['dest']['galaxy'], $movement['dest']['system']}">{$movement["dest"]["galaxy"]}:{$movement["dest"]["system"]}:{$movement["dest"]["position"]}</a>
					{else}
						{"Unknown"}
					{/if}
					{if isset($movement["children"])}
						<button class="button-icon" icon="ui-icon-triangle-1-s"></button>
					{/if}
					<div class="clear"></div>
				</td>

			</tr>
			<tr>
				<td class="fm-mission">
					{_ $template->key2Text($movement["mission"])}
				</td>
				<td colspan="2" class="fm-ships">
					<table>
						<?php $i = 0; ?>
						{foreach $fleetKeys as $key}
							{if $movement[$key] != NULL}
								{if ($i%2) == 0}
									<tr>
								{/if}
									<td>{_ $template->key2Text($key)}: <span class="float-right">{$movement[$key]}</span></td>
								{if ($i%2) == 1}
									</tr>
								{/if}
								<?php $i++; ?>
							{/if}
						{/foreach}
						{if ($i%2) == 1}
						<td>&nbsp;</td>
						</tr>
						{/if}
					</table>
				</td>
				<td class="fm-resources" colspan="2">
					<table>
						<tr>
							<td>{_ "resources"}:</td>
							<td>{$movement["metal"]+$movement["crystal"]+$movement["deuterium"]}</td>
						</tr>
						<tr>
							<td>{_ "metal"}:</td>
							<td>{(int)$movement["metal"]}</td>
						</tr>
						<tr>
							<td>{_ "crystal"}:</td>
							<td>{(int)$movement["crystal"]}</td>
						</tr>
						<tr>
							<td>{_ "deuterium"}:</td>
							<td>{(int)$movement["deuterium"]}</td>
						</tr>

					</table>
				</td>
			</tr>
			{if isset($movement["last_updated"])}
			<tr class="fleet-movement-last-updated">
				<td colspan="5">
					{_ "Last updated"}: {$movement["last_updated"]|date:"j.n.Y H:i:s"}
				</td>
			</tr>
			{/if}
		</table>
		<div class="clear"></div>
	</td>
</tr>
{if isset($movement["children"])}
	{foreach $movement["children"] as $cid => $child}
	<?php $odd = !$odd; ?>
		{control fleetMovement $child, $cid, $odd, true}
	{/foreach}
{/if}