<div class="ui-widget-header ui-corner-all text-center" n:if="$useHomepage">

		<span class="active"><strong>{$homepage->label}</strong></span>

</div>
<ul class="control menu ui-widget ui-widget-content">


	{block #menu}
	<li  n:foreach="$children as $item">


		<a href="{$item->url}" n:attr="class => 'button '.(($item->isCurrent) ? 'current' : '')">{$item->label}</a>



	</li>
	{/block}
</ul>
