#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
# You SHOULDN´T change anything in this file!
common:
	parameters:
		version: "0.1.0" # DON´T change this!
		dbSetupFile: "../app/config/dbSetup.gl"
		testServerAuthFile: "../app/config/testServerAuth.txt" #if you want to use GLOTR on test server, create this file and place there the username:password for the http authorization
		testServer: false # true for development on 680 origin server, false otherwise
	php:

		# zlib.output_compression: yes


	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days



	services:
		authenticator: GLOTR\Authenticator
		translator:
			factory: NetteTranslator\Gettext::getTranslator
			setup:
				- addFile(%appDir%/lang, font)
				- NetteTranslator\Panel::register
		users: GLOTR\Users
		ogameApi: GLOTR\OgameApi
		players: GLOTR\Players
		universe: GLOTR\Universe
		alliances: GLOTR\Alliances
		highscore: GLOTR\Highscore
		config: GLOTR\Config
		server: GLOTR\Server
		gtp: GLOTR\Galaxyplugin
		activities: GLOTR\Activities
		espionages: GLOTR\Espionages
		fs: GLOTR\Fleetsaves
		mysqli:
			class: \mysqli("%database.host%", "%database.user%", "%database.password%", "%database.dbname%")

	factories:



production < common:

development < common:
