#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		lang: en #default lang for all users, every user can change for himself later
		langs: # list of all available languages
				en: "English"
				cz: "Čeština"
		server: http://uni680.ogame.org # URL of your ogame server, starting with http and WITHOUT / at the end!!!
		tablePrefix: '' #if you want to have all your table names starting with the same prefix, table names themselves cannot be changed!
		ogameApiExpirations: {players.xml: 86400, universe.xml: 604800, highscore.xml: 3600, alliances.xml: 86400, serverData.xml: 86400, playerData.xml: 604800}# don´t change it unless there is some change in ogameAPI, all values are in seconds
		ogameApiRecordsAtOnce: 1000 #number of api records processed during one call of the script, decrease it if you runs to the end of the execution time, otherwise you can slightly increase it
		scoreHistoryPeriod: 7 # time in days, there will be one record in score_history table per this period per player and alliance, if you want to change it on running server, truncate score_history table first !!!
		adminEmail: example@example.com # this is the e-mail address all emails will be send from
		enableOgameApi: true #set to false if you don´t want to use Ogame API or if your server has allow_url_fopen disabled

	php:
		# zlib.output_compression: yes


	nette:


		database:
			default:
				dsn: 'mysql:host=localhost;dbname=glotr_devel'
				user: 'root'
				password: ''




production < common:

development < common:
