{block content}
<h2>{_ "Fleet movements"}</h2>
{snippet fleetMovements}
<table id="fleet-movements">
		{if count($movements) > 0}
			{control vp}
			{foreach $movements as $id => $movement}
				{control fleetMovement, $movement, $id, $iterator->isOdd()}
            {/foreach}
        {else}
            {_ "No fleet movements!"}
		{/if}
</table>
{/snippet}
{/block}
