

{block content}

	{snippet activityChart}
		{control activityChart, $results["activity"]}
	{/snippet}

	{snippet manualActivityForm}
		{control manualActivityForm}
	{/snippet}
	{control activityFilterForm}
{/block}