{block content}
<p>{_ "You need to set server configuration! Visit the following link, download the page and upload it here."}</p>
<p><a n:attr="href => $xmlHref, target => '_blank'">serverData.xml</a></p>
	{control serverSetupForm}
{/block}