
body {
	font: 16px/1.5 Georgia, serif;
	color: #fff;
	background-color: #203041;
	/*margin: 20px auto;*/
	margin: 0;
	padding: 0;
	/*max-width: 940px;*/
	min-width: 770px;

}
a
{
	color: orange;
}
h1 {
	font: bold 47px/1.5 sans-serif;
	color: #fff;
	margin: .6em 0
}

/*#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}*/

/*div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
	border-radius: 5px;
}
div.flash.success
{
	background: #EBF8A4;
	border: 1px solid #A2D246;
}*/
a[href^="error:"] {
	background: red;
	color: white;
}
#panel-top
{
	padding: 10px;
	/*background-color: #1A1A1A;*/
	background: #1a1a1a; /* Old browsers */
	background: -moz-linear-gradient(top, #323438 0%, #1a1a1a 53%, #0c0c0c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323438), color-stop(53%,#1a1a1a), color-stop(100%,#0c0c0c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #323438 0%,#1a1a1a 53%,#0c0c0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #323438 0%,#1a1a1a 53%,#0c0c0c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #323438 0%,#1a1a1a 53%,#0c0c0c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #323438 0%,#1a1a1a 53%,#0c0c0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323438', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 2px #888888;
	color: #fff;

}
#header
{
	width: 49%;
	float: left;
}
#user-panel
{
	width: 50%;
	float: right;
	text-align: right;
}
#inside
{
	position: relative;

}
#sidebar
{
	width: 20%;
	min-width: 120px;
	float: left;

	height: 100%;
	border-right: 1px solid #fff;
}
#content
{
	width: 77%;
	float: right;
	padding: 1em 1% 5% 1%;


}
.planet-info
{
	font-size: 0.6em;
}
.planet-info caption
{
	font-size: 1.2em;
	font-weight: bold;
}
.planet-info caption .font-small
{
	font-size: 0.8em;
	font-weight: normal;
}
.info-block table
{
	width: 100%;
}
.planet-info
{
	display: none;
}
.planet-info-title
{
	display: none;
}



.paginator {
	margin: 1em 0;
	font-size: 90%;
}



.paginator .current {
	font-weight: bold;
}

#ajax-spinner
{
	background: url("./images/ajax-loader.gif") no-repeat #fff center center;
	width: 100px;
	height: 100px;
	position: fixed;
	left: 50%;
	top: 50%;
}
.tooltip_content
{
	display: none;
}
.hidden
{
	display: none;
}
.no-margin
{
	margin: 0;
}
.multi-accordion h3 .ui-icon
{
	float: left;
}
/* playername highlighting */
.playername
{
	color: #fff;
	text-decoration: none;
}

.plunder-75
{
	color: #ffff66;

}
.inactive
{
	color: #6E6E6E;
}
.long_inactive
{
	color: #4F4F4F;
}
.v_mode
{
	color: aqua;
}
.newbie
{
	color: lime;
}
.stronger
{
	color: #FF0000;
}
.outlaw
{
	color: #FF33FF;
}
.banned
{
	text-decoration: line-through;
	color: #fff;
}

.admin
{
	color: #F48406;
}

/* styles for results table */
.resultsTable
{
	background: #000;
	border-radius: 5px;
	border-collapse: collapse;

}
.resultsTable tr
{
	width: 100%;
}
.resultsTable .odd
{
	background: #111;
}
.resultsTable td, .resultsTable th
{
	text-align: center;
	padding: 3px 5px;
}
.resultsTable .coords
{
	text-align: left;
}
.resultsTable .last_update
{
	font-size: 0.8em;
}

/* menu */
.menu
{
	padding: 0 1em;

	margin: 0em 0 1em 0;
	list-style: none;

}

.menu .button
{
	width: 100%;
	margin: 0.1em 0;
}

/* fleet movements */
#fleet-movements
{
	width: 100%;
	font-size: 90%;
}
.fleet-movement-table
{
	width: 95%;
	border: 1px solid #fff;
	background: #000;
}
.fleet-movement-table.odd
{
	background: #111;
}
.fleet-movement.child > td
{
	padding-right: 5%;
}

.fleet-movement.child > td > table
{
	width: 95%;
	float: right;
}
.fleet-movement-table button
{
	float: right;
	font-size: 150%;
}
#fleet-movements .fleet-movement-last-updated td
{
	width: 100%;
	text-align: right;
	padding-right: 5%;
}
.fm-time-left, .fm-mission
{
	width: 10%;
	text-align: center;
}
.fm-arrival
{
	width: 20%;
	text-align: center;
}
.fm-origin,.fm-destination
{
	width: 10%;
	text-align: left;
	vertical-align: middle;
}
.fm-origin img, .fm-destination img
{
	display: block;
	float: left;
	margin-right: 2em;
}
.fm-direction
{
	width: 5%;
	text-align: center;
}
.fm-ships
{
	vertical-align: top;
}
.fm-mission
{
	font-weight: bold;
	font-size: 150%;
	vertical-align: top;
}
.fm-ships table
{
	width: 99%;
	border: 1px solid #fff;
	border-collapse: collapse;
}
.fm-ships table td
{
	padding: 1%;
	width: 48%;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.fm-resources table td:last-child
{
	text-align: right;
	width: 100%;
}
.fm-player
{
	display: block;
}
#syncTable
{
	text-align: left;
}