.clear
{
	clear: both;
}
.bold
{
	font-weight: bold;
}
.italic
{
	font-style: italic;
}
.underline
{
	text-decoration: underline;
}
.text_right
{
	text-align:  right;
}
.text-center
{
	text-align: center;
}
.list-style-none
{
	list-style: none;
}
.width-half
{
	width: 49%;
}
.float-left
{
	float: left;
}
.float-right
{
	float: right;
}
.margin-right
{
	margin-right: 1em;
}
.chart-margin
{
	margin: 10px 0;
}